[2019-06-11 13:08] quxianmiao opened #1 "configure failed whether or not add --with-chip"
When run ./configure according to INSTALL, the output is as follows:
checking build system type... x86_64-pc-mingw64
checking host system type... x86_64-pc-mingw64
checking target system type... x86_64-pc-mingw64
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /usr/bin/mkdir -p
checking for gawk..

[2019-06-11 13:59] jeremybennett commented on #1
Hi Cooper,

I realize I must modify the INSTALL file - I forgot to fix it. Please try
the instructions in doc/README.adoc.

HTH,

Jeremy

On Tue, 11 Jun 2019, 3:08 pm Cooper Qu, <notifications@github.com> wrote:

[2019-06-11 14:21] jeremybennett commented on #1
Also, make sure you toolchain is on you PATH.

On Tue, 11 Jun 2019, 3:58 pm Jeremy Bennett, <jeremy.bennett@embecosm.com>
wrote:

[2019-06-11 14:22] quxianmiao commented on #1
I have run successfully, then how should I view the size-test results?

[2019-06-11 14:44] quxianmiao commented on #1
Thank you for your reply, I have run it successfully .

[2019-06-11 15:05] jeremybennett commented on #1
Excellent. You should find the results as a table in
<builddir>/testsuite/beebs.log. there should be a table for size results
and one with speed results.

Best wishes,

Jeremy

On Tue, 11 Jun 2019, 4:22 pm Cooper Qu, <notifications@github.com> wrote:

[2019-06-13 14:03] aroelke opened #2 "Trouble Running Benchmarks"
I'm having some issues running the benchmarks--when I run "make check," all of the benchmarks fail with execution scores of 0.  Going into the BEEBS log, I see that they never ran because they are expecting to connect to a GDB server.  Assuming I have compiled a Verilator emulator of my design, how do I start a GDB server with it?  From what I can see in the Rocket Chip debug guide, I have to run

[2019-06-13 14:59] jeremybennett commented on #2
This is an area where Embench needs improving. It still uses DejaGnu to run the benchmarks. The Expect script controlling this for ri5cy Verilator model is in `testsuite/config/ri5cyverilator.exp`. You will see that it attempts to connect to a GDBserver via stdin.

You should replace this by something appropriate for your target. For example the command to fire up the rocket gdbserver, or to run t

[2019-06-13 16:58] aroelke commented on #2
Okay, I'll try that, thanks.

[2019-06-14 07:46] jeremybennett commented on #1
I think you have everything working, so I'll close this issue. Don't hesitate to open a new issue if you run into other issues.

[2019-06-14 07:46] #1 closed

[2019-06-14 15:58] lbmeng opened #3 "commercial friendly license"
I see currently Embench is licensed under GPLv3.

For Embench to be widely adopted, can we consider switching to a commercial friendly license like BSD or MIT?

[2019-06-17 17:47] aroelke commented on #2
I'm trying to just run the binaries on my Rocket emulator (no DejaGNU yet), but when I try to load aha-mont64 after connecting GDB to it I get "Load failed" when loading section .rodata.  Do you know why this might be happening?

[2019-07-01 23:41] xorgy opened #4 "Some of the benchmarks are single kernels/algorithms rather than applications."
In some cases I think it makes sense to benchmark a given well-defined algorithm or kernel, but maybe it wouldn't hurt to make some of the benchmarks more realistic.

The nettle-based benchmarks are just running the selected cryptographic algorithms.

Maybe a more interesting benchmark in that realm would be a graft of WireGuard or some similar high performance network + cryptography workload. Wir

[2019-07-02 19:40] jeremybennett commented on #2
@aroelke Sorry - missed the notification on this. It sounds like your emulator is not allowing you to write to that region of memory. If it is genuinely a read-only piece of memory, it may be emulating you not being able to write to it. Are you able to load the .text section?

Is your compiler/linker putting the code/data at the correct address - do you need a different linker script for your emul

[2019-07-02 19:53] jeremybennett commented on #3
@lbmeng Hi Bin Meng,

I'm sorry this will not be possible. Embench is built from many other benchmark programs from many other authors and teams of authors. GPL is the only possible license we could use, compatible with all the other licenses.

However, I'm not sure this is not commercially friendly. This is an open benchmark suite, so would always be freely available. Is there a scenario where yo

[2019-07-03 19:36] aroelke commented on #2
I some digging into this issue, and you're right, that's what was happening.  I was able to load the .text section, but not anything else, most likely because all I was doing was passing the linker `-Ttext=0x80000000` to put .text at the start of Rocket Chip's memory.

I started playing around with compiling my own bare-metal code, and learned that I need a full linker script to put the text and d

[2019-07-08 16:42] jeremybennett commented on #2
Hi @aroelke

You don't get round it. You can't run any program without loading it into the right location in memory and setting up key registers. How to do that is a property of the target board, not the program.

Usually linker scripts and crt0 are provided for any board. How do you run other programs? You can just reuse the linker script and crt0.

HTH,

Jeremy

[2019-07-09 15:14] aroelke commented on #2
Oh, I see.  So, since test programs run over riscv-fesvr, which the Rocket Chip emulator uses (and so does spike), should use the startup code and linker script from riscv-tests, I basically just copy those files into config/[arch]/boards/[board]?  How do I then use those files?  I can add the linker script into config/[arch]/chips/[chip]/chip.cfg and include any headers that are necessary, but I

[2019-07-09 18:31] jeremybennett commented on #2
I suggest you define a new board in `config/riscv32/boards`. Look at the `ri5cyverilator` subdirectory for an example. In that directory you'll need `boardsupport.c` and `boardsupport.h`, for which you can probably just use the code in `ri5cyverilator`.  In addition you can add a file `board.cfg` when you can use shell commands to define some compiler and/or linker flags. For example
[code]
Would

[2019-07-09 20:17] aroelke commented on #2
Oh, I had been putting those into chip.cfg; I didn't realize there's a board.cfg option as well.

I've been passing GCC `-nostartfiles` and `-nostdlib` to make sure it doesn't use its own crt0.o, actually, so I can use my own (or, rather, crt.S copied from riscv-tests).  The problem is that it isn't compiling my copied crt.S, so when it goes to link it warns that there's no `_start` symbol and doe

[2019-07-10 08:10] jeremybennett commented on #2
Usually `_start` is the entry point in `crt0.S`. For execution you should just use your standard libraries - using `-nostartfiles` and `-nostdlib` seems like a mistake to me. I just use the standard `crt0.o` and libraries when running for RI5CY.

One of the reasons we use GDB is that the timing points are not the start and end of the program, but the `start_trigger` and `stop_trigger` functions. T

[2019-07-11 17:17] aroelke commented on #2
The problem with using Newlib's crt0.o is that, as you said, it expects to be running on top of a kernel which has already initialized the processor.  This causes it to not set up the stack pointer, so when it calls its first function it subtracts from it, causing it to point to an illegal address, and then triggers a fault when it tries to save registers (which also doesn't have a handler set up)

[2019-07-13 05:12] lbmeng commented on #3
@jeremybennett Thanks for the reply. I am evaluating the possibility of porting this benchmark suite to a commercial closed source OS hence the license question.

[2019-07-15 18:05] jeremybennett commented on #3
@lbmeng
IANAL, but that shouldn't be a problem. Even open source OS don't proscribe what you can run on them, which is why there is so much proprietary software that runs under Linux.

I'm going to mark this issue as closed, but please reopen if you want to continue the discussion.

[2019-07-15 18:05] #3 closed

[2019-08-01 01:11] pagdot opened #6 "Run benchmarks on custom system"
I'd like to run the benchmarks on a softcore cpu on a fpga. So I need to add a custo startup routine and run custom scripts to run it on the processor. Is this possible with the existing systems? Do I manually need to link the object files of the benchmarks with my link script and the startup file to generate the executable or are there better ways to run a custom benchmark?

[2019-08-01 01:18] pagdot opened #7 "Specify target architecture"
I've tried to compile a riscv32 config, but when using `--host=riscv64-unknown-elf` as parameter for the `configure` it expects a riscv64 config. With the current RISC-V GCC toolchain it seems more common to specify a 32bit architecture with `-mabi` and `-march` instead of compiling a separate toolschain for 32bit support.

Is it possible to compile a riscv32 config without putting it in a riscv64

[2019-08-05 15:11] jeremybennett commented on #7
Hi @paul70078
Thanks for the comment. It's true that GCC is now a single compiler, and you configure with one or other as the default. Most people still stick to a riscv32-*-* or riscv64-*-* naming convention to indicate the default.

There should however be nothing stopping you using `riscv32` as the architecture (so you pick up the architecture, chip and board specifications from the correct dir

[2019-08-05 15:14] jeremybennett commented on #2
Sorry - missed this one. You should be able to use your own startup script- just specify it using the various FLAGS options.

This should soon become obsolete. We don't need the complexity of autotools for compiling a benchmark suite, so it will be replaced by a python script in the near future. Similarly we don't need the complexity of DejaGnu to run the tests (which restricts us to Linux only) a

[2019-08-05 15:17] jeremybennett commented on #6
This should be possible, but probably harder than it needs to be. As noted in Issue #7,  I'm working on Python replacements for the current build/run environment, which should make this all work smoothly.  Feedback very welcome.

[2019-08-07 13:58] ben-marshall opened #8 "Tuning the benchmark repeat rate."
Hi there

Would it be possible to add a switch / knob somewhere in the configure script to tune the repeat rate for each benchmark?

Currently, the number of repetitions is a function of the global `CPU_MHZ` define, and a local (to the benchmark) `LOCAL_SCALE_FACTOR` (magic?) number. It would be nice to be able to change the `LOCAL_SCALE_FACTOR` to something very small for testing, or running simu

[2019-08-08 17:19] jeremybennett commented on #8
Hi Ben,

Thanks for the suggestion.

There is a danger in making benchmarks too tunable. You want relatively few knobs, and those knobs very well defined to ensure results are comparable.

Since the benchmarks are open source, there is nothing stopping you hacking the code to change `LOCAL_SCALE_FACTOR`. If you are a developer looking at wave traces, this will be easily within your skills.

Possib

[2019-08-08 17:19] #8 closed

[2019-08-29 16:37] jeremybennett opened #10 "Benchmarks should not use assert"
Jon Taylor pointed out that assert is not appropriate for benchmarks. See the full mailing list discussion here:

https://lists.librecores.org/pipermail/embench/2019-August/000007.html

I consider this a bug, and this issue is to track a fix to the problem.

[2019-08-29 17:14] jeremybennett commented on #10
Pull request to fix this in https://github.com/embench/embench-iot/pull/11.

[2019-10-09 13:53] kohnakagawa opened #16 "Compiler optimization deletes the bodies_energy function call in the nbody benchmark."
In the nbody benchmark, `bodies_energy` function returns the total energy, but this return value is not used in the `benchmark_body` function. Since `bodies_energy` function is a pure function, the function call of this can be omitted via a compiler optimization when the return value is not used.

I noticed that the clang compiler (`Apple clang version 11.0.0 (clang-1100.0.33.8)`) can detect this

[2019-10-24 06:35] quxianmiao opened #20 "Formatted string literals is not supported in Python3.5"
The formatted string literals is a feature of Python 3.6. For instance, the following code written in the build_all.py:
               log.error(f'ERROR: Architecture "{args.arch}" not found: exiting')

If the code does not support versions below Python 3.6, this is not a problem, but it needs to be declared.

[2019-10-24 07:22] ghost opened #21 "Suggestion: Generate requirements.txt to list the required libraries."
Execute 'python freeze > requirements.txt' to generate requirements.txt

[2019-10-28 09:03] beatsnbytes opened #22 "Python's subprocess.run does not find crosscompilation toolchain"
Hello,

I am trying to compile and run the benchmarks against our RISC-V based SoC. On my way there I stumbled upon Python's subprocess.run (present in build_all.py) . After populating the list with the arguments, it does not finf my installed crosscompilation toolchain. I tried full paths but nothing seemed to work. When I put the argument (shell=True) it found the toolchain but then as I found o

[2019-10-28 10:11] beatsnbytes commented on #22
The issue is the version of Python. I changed my default one to 3.6.8 and the issue is solved. I think that the required Python version has to be declared explicitly as it is said in #20 .

[2019-10-28 10:11] #22 closed

[2019-11-03 09:21] jeremybennett commented on #16
This should have been resolved by pull request 23, which I've now merged. Let me know if this works correctly for you.

[2019-11-03 09:27] jeremybennett commented on #16
Hi @kohnakagawa

Good catch. This is an error in the wrapping of the function. I'll work on a fix for this one. I imagine most modern compilers will optimize this away.

Best wishes,

Jeremy

[2019-11-03 11:53] kohnakagawa commented on #16
Hi @jeremybennett

Thank you for your reply.

I checked that the deletion of the bodies_energy function call is prohibited by this fix.
However, I think some points of your pull request should be fixed. I make pull request #24 to fix these points.

[2019-11-03 11:53] #16 closed

[2019-11-03 16:19] jeremybennett commented on #20
@quxianmiao Sorry for the slow reply while I have been away.

The scripts are written assuming at least Python 3.6. I'm working on a patch which will check the python version at the start of each script.

[2019-11-03 16:27] jeremybennett commented on #20
@quxianmiao Fixed in pull request 25. Can you check this works for you.

[2019-11-03 16:43] jeremybennett commented on #4
@xorgy Apologies. This got left behind. Thank you for raising this issue.

Because of the very tight constraints on this first version of Embench, we are inherently going to be using mostly just kernels. We are targeting IoT class devices, with a maximum 64kB for program and 64kB for data. This means that Embench is suitable for 8/16-bit devices as well as 32- and 64-bit devices. We have also kept

[2019-11-03 16:43] #4 closed

[2019-11-03 16:51] jeremybennett commented on #21
@quxianmiao  Thanks for this suggestion. The concept of freezing python was new to me. This seems like a good idea. I develop on Linux, where it seems `python freeze` is no longer supported. However it might be possible to use Pyinstaller instead.

I'm going to mark this as an enhancement, and leave it for future implementation. Until we have the scripts more stable, producing frozen versions will

[2019-11-07 01:40] #20 closed

[2019-11-13 19:18] jeremybennett commented on #21
@quxianmiao In the meantime, I have created https://github.com/embench/embench-iot/pull/27 to improve the documentation. I would appreciate if you could review it. Thanks

[2019-11-14 18:43] jeremybennett commented on #7
@pagdot I hope the improved documentation helps you. I am going to mark this closed.

[2019-11-14 18:43] #7 closed

[2019-11-14 18:44] jeremybennett commented on #10
Marking as closed since this has now been fixed.

[2019-11-14 18:44] #10 closed

[2019-11-14 18:45] jeremybennett commented on #2
@aroelke I have updated the documentation, which I hope makes your life easier. Thanks for your contribution and please raise other issues if you continue to encounter issues.

Best wishes,

Jeremy

[2019-12-12 08:47] brucehoult opened #30 "simple primes benchmark"
I have found the program at the below address useful for about the last four years as a benchmark of machines ranging from ATmega2560, various ARM devices including M3, M7, A7, A9, A15, A53, A72, various RISC-V, and x86.

On ILP32 or LP64 machines it requires 8004 bytes of globals plus 16 bytes of stack for countPrimes() and 16 or 32 bytes of stack for main(), plus whatever the runtime library nee

[2019-12-29 18:20] Sameeranjoshi opened #31 "Error running benchmark"
$ `python build_all.py --arch=/home/odo/benchmarks/embench-iot/config/riscv32/arch.cfg`
  File "build_all.py", line 153
    log.error(f'ERROR: Architecture "{args.arch}" not found: exiting')
                                                                    ^
SyntaxError: invalid syntax

How do I specify the config file.

[2019-12-30 07:49] neilemorgan commented on #31
Have you tried the following: $ python build_all.py --arch=riscv32

I'm trying to build for a vegaboard and am using:

python build_all.py --arch=riscv32 --chip=size-test-gcc --board=vegaboard

The main parameter settings in this case are in chip.cfg

[2019-12-30 08:22] Sameeranjoshi commented on #31
Yes I have tried both, but none works, and fails with same error.
I cloned source , created a 'bd' directory and am running benchmark.
Is there something I am missing?

[2020-01-19 17:47] reSHARMA commented on #31
You should run the scripts with python3

[code]

[2020-01-20 10:55] jeremybennett commented on #31
Thanks @reSHARMA - this is correct. It needs to be Python 3.6 or later. I am working on new versions of the scripts which will check the version of Python. Let me know if this solves your problem.

[2020-01-25 17:26] Sameeranjoshi commented on #31
Thanks @reSHARMA and @jeremybennett, it solves the problem of running code size benchmarks.

[code]
Whereas running for speed, I am facing following issue,
I tried web search for the module but couldn't get the solution.
[code]

Can you point me how to solve the above issue?

[2020-01-27 08:16] jeremybennett commented on #31
@Sameeranjoshi The target modules are in the `pylib` subdirectory. This is the purpose of the call to `sys.path.append` in `benchmark-speed.py`. For some reason Python is not successfully looking in this directory. You could try adding the `pylib` directory explicitly to your Python module search path.

HTH, Jeremy

[2020-01-31 07:46] lyellread opened #37 "Empty Executable Files After Successful Compilation"
I have been porting `embench-iot` for some custom RISC-V 32 chips, in [this repo](https://github.com/lyellread/embench-iot). In all, I am compiling with the following parameters:
[code]

A couple of notes:
 - I force-added the `dummy-libc.c` to the `cc_input_pattern` as if I add it to `dummy_libs`, it fails to compile or link.
 - With the above parameters, compilation and linking succeeds, but all

[2020-02-03 04:00] lyellread opened #38 "Avoiding Full Paths"
When I add constraints in chip.cfg, how do I avoid using full paths to files - for example if I am trying to add the file `dummy-libc.c` which is in the `support` directory to the compilation as input, how do I formulate the path to that file? So far, I have tried:
- cc_input_pattern = "dummy-libc.c"`
- cc_input_pattern = "support/dummy-libc.c"`
- cc_input_pattern = "../support/dummy-libc.c"`
- cc

[2020-02-16 08:39] jeremybennett commented on #37
@lyellread Sorry for the slow reply. Did you manage to solve this issue. If not I'll see if I can reproduce it.

[2020-02-16 08:44] jeremybennett commented on #38
@lyellread Sorry for the slow reply. I think this is a weakness in the documentation. The patterns are used with Python 3.6 formatted strings, and intended to  substitute the syntax needed for particular compilers. For example with GCC, input files are just supplied "as is", while output files are prepended by `-o`.  These would correspond to:
[code]
Does this help?

[2020-02-17 00:34] lyellread commented on #37
I was not able to solve it... I am still poking around. I would greatly appreciate if you could take a peek and see if there's something I am doing wrong.

[2020-02-18 12:23] GregAC opened #39 "Location/repository for board support files"
I've had Embench running on Ibex/OpenTitan for a while now but in special branches and I'm looking at getting the necessary stuff merged into their respective master branches.

The major question is which repository should the board support files live in? With the current embench build system the board.cfg and boardsupport.c/boardsupport.h at least needs to live in config/riscv32/boards/<board_nam

[2020-02-19 04:01] Tilakbg90 opened #40 "Size of multiple sections by benchmark_size.py are not easily reported{improvement}"
I have been running Embench on AVR with Microchip XC8.

.elf file created by Microchip XC8 has multiple sections with same name.
example of objdump from attached .elf file:

[code]

To accommodate all the executable sections I made following changes to benchmark_size.py:

[code]

You can pass attached .elf file with python elftool to analyze the report.
[aha-mont64.zip](https://github.com/embench/

[2020-02-19 10:20] jeremybennett commented on #40
Hi @Tilakbg90

Thanks for reporting this. Looks like a bug - we are only picking up a single `.text` section. I shall investigate.

If you find a solution and wish to provide a pull request to fix it, that would be welcome.

Best wishes,

Jeremy

[2020-02-19 10:31] jeremybennett commented on #39
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

On 18/02/2020 12:23, Greg Chadwick wrote:

Hi Greg,

That's great news.

The key requirement is that others can validate your results. I don't
think that means they have to be in Embench, but they should be freely
available for the lifetime of Embench. There is an issue of making
sure that version control is appropriate - if outside Embench you
probab

[2020-02-28 09:08] lidija-b opened #47 "Some of benchmarks results off for native default build"
I was looking into native builds and tested on mips and I want to check if there is something I'm missing or some problem i missed because these results don't look like what is written as example in doc. So results were off for some of size benchmarks but other look as expected.

So for mips64 gets when running benchmark:
(cflages '-c', '-O2', '-fdata-sections', '-ffunction-sections'
 ldflags '-O2

[2020-03-02 13:33] PaoloS02 commented on #47
Hello. Have you specified the clock speed of your machine when you built your tests? You should do that with the --cpu-mhz option, e.g.:

`./build_all.py --arch native --chip default --board default --cflags='-c -O2 -fdata-sections -ffunction-sections' --ldflags='-O2 -Wl,-gc-sections' --user-libs='-lm' --cpu-mhz 2000 --clean`

This will make the embench repeat the body of the tests as many times a

[2020-03-05 17:19] BrianGraysonSiV opened #50 "Benchmark files use inconsistent naming scheme"
Many of the benchmarks have the main code in a file of the form src/<benchname>/<benchname>.c. But there are several different benchmarks that violate this:

- aha-mont64/mont64.c -- why not aha-mont64.c?
- cubic/libcubic.c -- why not cubic.c? (same goes for many others)
- qrduino/qrtest.c -- why not qrduino.c? (same goes for sglib-combined)

Is there a good reason to NOT rename them in order to e

[2020-03-09 12:50] MarkHillHuawei opened #51 "Problems with spaces when setting tool flag options"
I have noticed that if a user puts extra spaces in their tool options, for example, --cflags “-Os<space><space>–mtune=size” instead of --cflags “-Os<space>–mtune=size” the build fails complaining about a non existent file. This can be a bit confusing, it certainly confused me until I realized what was going on.   This is  due to the split(sep=’ ‘) in build_all.py creating empty elements in the cfl

[2020-03-09 13:10] MarkHillHuawei opened #52 "Misleading code size reporting when -ffunction-sections option is used"
I have noticed that the code size reporting by benchmark_size.py is a bit misleading when the -ffunction-sections compilation option is used. This is because the text section is split into multiple sections with '.text'  suffixed by the function name, for example .text.fred. However the script only looks for precise matches when determining which sections to count.  I think the script needs to be

[2020-03-09 14:57] jeremybennett commented on #50
@BrianGraysonSiV

Thanks for raising this. It is a legacy of the old autotools based build system when we had to build things as libraries first.

I've marked it as an enhancement. There is no reason why we can't have naming consistency in the future.

[2020-03-09 14:59] jeremybennett commented on #51
Hi @MarkHillHuawei ,

Thanks for raising this. I'll inviestigate.

Best wishes,

Jeremy

[2020-03-11 14:46] claziss commented on #52
Also, the python script doesn't take into consideration all CODE sections. For example, there may be code sections which are not called `.text` and they are not considered in the final numbers.
You can easily see this when comparing the size figures obtained with the python script versus the numbers reported by the gnu `size`  utility.

[2020-03-11 15:30] MarkHillHuawei commented on #52
Yes. I wonder whether it might be more generic/reliable to sum the  sizes of the ELF loadable (PT_LOAD) and executable (PT_X)  Program Header entries to measure the code size, i.e., the information you get when you do a “readelf –l <executable>”

Mark

From: Claudiu Zissulescu [mailto:notifications@github.com]
Sent: 11 March 2020 14:46
To: embench/embench-iot <embench-iot@noreply.github.com>
Cc: M

[2020-03-23 14:28] genesys2 opened #53 "Inconsistent Speed Results on Riscv CPU"
Hi,

I am not sure if I am doing anything wrong here but on my platform, the speed benchmark results are fairly inconsistent. I am using a VexRiscv Core on a Genesys2 FPGA running Linux (125 Mhz).

I set up the boardsupport file as follows (the FENCE instruction is not necessary; it was just an attempt to make the results more consistent):

Boardsupport.c
[code]
Boardsupport.h
[code]

The chipsupp

[2020-03-23 14:38] mp-17 commented on #52
Do you observe this behavior in the final object file of each benchmark after the link step?
Because I think the default linker script tells the linker to collect all the **.text.*** sections into a single **.text**.
If you are not using the default linker script, it is also possible to act there.

[2020-03-25 16:38] MarkHillHuawei commented on #52
Yes you are right, I had my own linker script which does not do this. If we don’t think this is a problem I think we can close this issue.

By the way I think it is almost essential to build these benchmarks with –-cflags “-ffunction-sections –fdata-sections” and –-ldflags “–Wl,--gc-sections” when measuring the code size. For example, the crc32 code size (on rv32imc) drops from 2.42 to 0.80 when I

[2020-03-30 15:11] PaoloS02 commented on #53
Hello,
sorry for the slow reply.

I'm not familiar with the VexRiscv core, but according to what you said may I assume that you're testing the model of the VexRiscv as described here? https://github.com/SpinalHDL/VexRiscv

Embench is currently designed only for bare metal embedded systems, where the execution time can be safely measured with the count of the executed cycles multiplied by a constan

[2020-04-06 07:26] genesys2 commented on #53
Hi Paolo,

thanks for your response! That makes sense, the RDTIME / RDCYCLE instruction seems pretty noisy to me. I think one would have to average over probably 100 or more runs. I did also try the RDCYCLE instruction, but it leads to similar results. (I think the difference of RDTIME and RDCYCLE is mostly relevant on multi core systems)

I subscribed to the mailing list, thanks for the link :-)

[2020-04-06 11:26] PaoloS02 commented on #53
My pleasure,

Thank you for sharing your doubts and for subscribing, and looking forward to discussing further whenever needed.

[2020-04-20 13:43] PaoloS02 commented on #51
Thank you for the tip @MarkHillHuawei ,
fixed that now.

Kind regards,
Paolo

[2020-04-21 14:52] Prince-Joy commented on #2
Hi Jeremy,
can you please help me? I am running foll
![Screenshot from 2020-04-21 20-50-00](https://user-images.githubusercontent.com/63585739/79880447-d8831080-8411-11ea-8e39-3eecf22ceb39.png)
owing command
./build_all.py --arch riscv32 --chip generic --board ri5cyverilator --cc riscv64-unknown-elf-gcc --clean
and after this I got the error attached in the file. What should I do now?

[2020-04-21 17:23] jeremybennett commented on #2
@Prince-Joy can you look in the log file and post the detail here.

[2020-04-21 18:10] Prince-Joy commented on #2
@jeremybennett thanks for your response, I have attached the log.

[build-2020-04-22-000519.log](https://github.com/embench/embench-iot/files/4511828/build-2020-04-22-000519.log)

[2020-04-21 19:40] jeremybennett commented on #2
@Prince-Joy. OK, I see the problem - I made this mistake myself earlier. You need to ensure the CFLAGS include '-c', so that the compilation generates an object file for subsequent linking. Increasingly we realize that the options are better set on the command line, rather than in the config files. It is more flexible.

Here is how I run a build, where I am interested in execution speed:
[code]

A

[2020-04-22 04:49] Prince-Joy commented on #2
@jeremybennett Here I am suffering this now. Remarks: I don't have riscv32-unknown-elf-gcc so I am using riscv64-unknown-elf-gcc.

![Screenshot from 2020-04-22 10-40-17](https://user-images.githubusercontent.com/63585739/79941735-c8594880-8486-11ea-9c6c-e1a30237938a.png)
for log file:
[build-2020-04-22-103956.log](https://github.com/embench/embench-iot/files/4513838/build-2020-04-22-103956.log)

[2020-04-22 12:24] Prince-Joy commented on #2
@jeremybennett I have solved that issue, command was :
./build_all.py --clean --arch riscv32 --chip generic --board ri5cyverilator --cc riscv64-unknown-elf-gcc --cflags="-c -march=rv32i -static -std=gnu99 -mabi=ilp32 -O2 -ffunction-sections -fdata-sections" --ld riscv64-unknown-elf-ld --ldflags="-march=rv32i -mabi=ilp32 -m elf32lriscv" --dummy-libs="crt0 libc libgcc libm"

Now i want to build for

[2020-04-22 16:12] jeremybennett commented on #2
It is just standard command options. You can specify libraries with `--user-libs` and you can add additional object files in `--ldflags`. You can put custom code for your own board if you wish.

[2020-04-22 18:15] Prince-Joy commented on #2
Dear @jeremybennett Sir, I think I didn't get it.
Actually I want to define my start PC value and RAM, ROM information and also want to initialize all the registers through loading an assembly file (**start.s**)
How can i do this, actually I have very little knowledge about python so its difficult for me to find out.
Remarks: I have tried **--user-libs="-lm"** but linker doesn't get it only **--du

[2020-04-22 18:25] Prince-Joy commented on #2
Dear @jeremybennett Sir,
I think I didn't get it.
Actually I want to define my start PC value and RAM, ROM information and also want to initialize all the registers through loading an assembly file (start.s)
something like attached dump file (
[program_dump.txt](https://github.com/embench/embench-iot/files/4518229/program_dump.txt)
).
How can i do this, actually I have very little knowledge about

[2020-04-23 17:46] jeremybennett commented on #2
@Prince-Joy Use `--ldflags` to specify anything you want on the start of the link command line and `--user-libs` to specify anything you want on the end of the link line. You should be able to construct any link command in this way.

If you have custom code to be compiled assembled, create a new configuration, put the code there, and specify it on the command line. For example copy `config/riscv32

[2020-04-27 14:20] Prince-Joy commented on #2
Thanks @jeremybennett sir, It helped me a lot.

[2020-04-27 19:11] PaoloS02 commented on #52
Hi all,

thank you for all the input.
That's right, I've seen too that there's a difference between the size calculated by the script and the numbers reported by the `size` utility. That is because of the `rodata` section, that the `readlelf` and the `size` utilities seem to add in the `text` size. I've also seen that with the riscv gcc the `size` adds also the size of the `bss` to the `text` sect

[2020-04-30 10:12] jeremybennett commented on #53
Marking as closed

[2020-04-30 10:12] #53 closed

[2020-04-30 12:27] PaoloS02 commented on #52
My fix of the script is on master.
It is a temporary fix that should do well enough for embench 0.5.
I would close this issue while keeping note of your advice for improving this feature for future versions.

Thank you all,
Paolo

[2020-04-30 12:35] PaoloS02 commented on #51
The fix is on master. I would close this issue.

Thank you again.
Paolo

[2020-04-30 12:49] PaoloS02 commented on #47
Hello again.
In addition to what I said last time I'd like to say that embench is currently designed for embedded systems. Even if a native option is available, a version of Embench suitable for systems with an OS is yet to come.
I strongly encourage you to get involved with the monthly calls (send me an email to paolo.savini@embecosm.com so I can send you the details of the call) and/or to subscr

[2020-04-30 12:56] PaoloS02 commented on #40
Hello @Tilakbg90,
Thank you for the input.
I added a fix to count all such multiple sections for the size measurement.
I would mark this issue as closed.

Best wishes.
Paolo

[2020-04-30 13:57] jeremybennett commented on #52
Marking as closed

[2020-04-30 13:57] #52 closed

[2020-04-30 13:57] #51 closed

[2020-04-30 13:58] jeremybennett commented on #47
In the absence of further comments, I am marking this as closed.

[2020-04-30 13:58] #47 closed

[2020-04-30 13:59] #40 closed

[2020-04-30 14:00] jeremybennett commented on #31
In the absence of further comment, I am marking as closed.

[2020-04-30 14:00] #31 closed

[2020-04-30 14:34] jeremybennett commented on #6
@pagdot Does the new Python infrastructure make this easier for you?

[2020-04-30 14:42] jeremybennett commented on #30
@brucehoult I realize this has been sitting here since the summit without any feedback. Thank you for the submission. I think this is the first candidate for Embench 2.0, when we referesh all the benchmarks to defeat gaming.

[2020-05-11 08:20] TilakGirijeswar opened #59 "Benchmark speed reference values and division with CPU_MHZ"
For computing benchmark speed, document mentions:
"For each benchmark divide the time taken by the value used for CPU_MHZ in the configuration to give a normalized time value."

For the reference values computed, It is mentioned that default 16MHz is used for STM32, but config/arm/boards/stm32f4-discovery/boardsupport.c (or any other script) does not indicate on whether the benchmark time value is

[2020-05-11 08:46] TilakGirijeswar opened #60 "Changing int data size based on compiler used"
For 8 or 16 bit compilers, size of 'int' is 2 bytes. For example: AVR GCC and Microchip XC16 compiler. This change in data type will change the benchmark values (speed/size).

matmult-int.c and many other source files use int data type:
`
void
Multiply (matrix A, matrix B, matrix Res)
{
  register int Outer, Inner, Index;
...
}
`

For an ARM compiler, int size from ARM GCC is 32 bits, but for AVR

[2020-05-15 10:50] jeremybennett commented on #60
Hi @TilakGirijeswar

Thanks for your comment. Embench benchmarks are a set of real programs/kernels and reflect a range of coding styles. There is a deliberate decision not to standardize into a unified programming style - we want the breadth. The only changes made are to ensure all programs are self-validating and that they work correctly on a range of architectures from 8-bit to 64-bit (more on

[2020-05-15 10:54] jeremybennett commented on #59
@TilakGirijeswar

Thanks for reporting this. Clearly a deficiency in the documentation. The `benchmark_speed.py` script reports the relative score _without_ dividing by `CPU_MHZ`. You should do this yourself to get a per MHz score. Both are useful. One is a measure of the raw performance of a processor, the other the efficiency of the implementation. You are correct that the baseline processor (Ar

[2020-05-15 12:06] TilakGirijeswar commented on #59
@jeremybennett ,

Thanks for looking into this and making a note on improving the document.

Meanwhile, My concern was also on the process.

I agree that raw performance is helpful, but this method will impact relative score.
When I am running an ARM core at 48MHz (CPU_MHZ=48) more iterations are executed leading to more time consumption. There is no common base for comparison when using relative

[2020-05-15 14:54] jeremybennett commented on #59
Hi @TilakGirijeswar

The benchmarks are scaled according to the speed of the machine. The intention is that each should run for about 4 seconds - a period long enough to be measured accurately, while meaning all the tests can be run in a few minutes.

This is necessary, because there is at least 3 orders of magnitude in variation in speed between the smallest and largest microcontrollers (think en

[2020-05-27 15:15] joeski65 opened #62 "Recreating Reference Platform Size Results"
Hi,

I am trying to recreate the reference platform scores as reported here: https://github.com/embench/embench-iot/tree/master/doc#reference-platform

I fetched the AArch32 bare-metal target GCC 9.2 found [here](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads).

This comes with binutils 2.33.1 (same as reference platform), and newlib

[2020-06-11 19:27] mp-17 opened #65 "cubic - quad-precision FP problem (ARM/RISCV)"
Dear All,

I compiled the program **cubic** targeting both ARM and RISC-V.
This program uses the _long double_ type, which is interpreted in different ways by ARM and RISC-V: ARM interprets the _long double_ as just a _double_, so a 64-bit double-precision FP value (http://www.keil.com/support/man/docs/armcc/armcc_chr1359125009502.htm), whereas
RISC-V interprets the _long double_ as a quad-precisi

[2020-06-14 07:16] jeremybennett opened #66 "Control the amount of output"
At present the scripts produce a modest amount of output to console and a larger amount to the log file.  It would be useful to have some control over this, for example with `--verbose` and `--quiet` options.

Issue filed for future consideration.

[2020-06-14 08:04] jeremybennett commented on #62
@joeski65

Apologies for the slow reply. Reproducibility is a key issue. If you look at the latest version of the [embench-iot-results](https://github.com/embench/embench-iot-results), you will see the exact configurations used are now specified for each run.

While we try to keep C library code to a minimum, these are real code kernels, and so will use some library code.  For measuring code size

[2020-06-14 08:05] #62 closed

[2020-06-14 08:12] jeremybennett commented on #65
Hi Matteo

This is a known issue. Long double is occasionally used, so it is right that it be benchmarked, although perhaps not in an integer benchmark suite.  It belongs more properly in the floating point benchmark suite.

This has been considered by the group in the past. It is the benchmark where RISC-V does by far the worst compared to Arm.  One consideration was that with the originators of

[2020-06-14 08:12] #65 closed

[2020-06-15 16:00] jeremybennett opened #68 "Documentation creation of baseline results"
A number of users have experienced difficulty reproducing the baseline results.  This should be added as a tutorial to the documentation.

[2020-06-17 19:54] BrianGraysonSiV opened #69 "Repeated attempts to build will fail noisily"
Invoking `./build_all.py --arch native --chip default --board default`, and then re-invoking it, will cause it to die with messages like this:

AttributeError: 'NoneType' object has no attribute 'stdout'

The reason is that if all files are up to date, the 'res' object is still None.

A quick fix is to indent the 'res' lines, and the preceding "if not succeeded" lines, as shown here:

[code]

[2020-06-22 13:48] edward-jones opened #70 "Note in docs that pyelftools package is needed to benchmark size"
It looks like the documentation notes that Python 3.6 is needed, but doesn't mention that the pyelftools package is also needed.

[2020-06-22 15:40] edward-jones opened #71 "No such file error if 'results' directory doesn't exist when running run_all.py"
If the `results/` directory already exists then the `run_all.py` command will cause the result file to be created, but if `results/` doesn't exist then the directory won't be created and you get a "No such file or directory: 'results/***.json'" error. This differs from the behaviour with logs - the `log/` directory always seems to be created before a log file in that directory is created.

This co

[2020-07-07 07:41] kjetilos opened #72 "wikisort benchmark uses gcc extensions"
The wikisort benchmark is using the __typeof__ gcc extension which will make the benchmark fail on non-gcc compilers like for instance the IAR compiler.

One possible fix is to add the type as an argument to the Var and Swap macros instead of using __typeof__ inside these macros. __typeof__ is also used in the benchmark_body() function and can be replaced by writing the full type.

[2020-07-07 07:47] kjetilos opened #73 "gcc specific attributes are used in the benchmarks"
The benchmark code is using gcc specific attributes to mark unused parameters and function to not inline. Using gcc specific attributes will make the benchmark harder to port to non-gcc based compilers. This was seen when building the benchmarks with the IAR compiler. The IAR compiler has a way to enable gcc extensions, however it would be nice if the benchmark could build on any standard c compil

[2020-07-19 15:46] jeremybennett commented on #69
Thanks Brian and sorry for the slow response.  Applied your fix via pull request 74.

[2020-07-19 15:47] #69 closed

[2020-07-19 16:00] #70 closed

[2020-07-19 16:00] jeremybennett commented on #70
Fixed in pull request #75

[2020-07-19 16:02] jeremybennett commented on #71
Thanks - needs a patch to add the directory if it isn't there!

[2020-07-19 16:06] jeremybennett commented on #72
Hi @kjetilos

Thanks for the bug report and sorry for the slow reply. The benchmarks are all supposed to be free of GCC extensions. Assigned to Paolo Savini to do two things

1. Fix this particular issue
2. Run all benchmarks checking for pedantic standards compliance.

Will also raise at our next meeting to get agreement on what C standard we require. Do we really want to be going back to C89 in

[2020-07-19 16:09] jeremybennett commented on #73
Hi Kjetil,

Thanks for this, we'll sweep this up when we fix issue #72.

[2020-07-21 12:48] Roger-Shepherd opened #76 "Parameter value priority order"
This concerns two points about parameter handling that I'm having a little trouble with understanding.

1. In config/native/chips/size-test-gcc it says

# Parameter values which are duplicated in architecture, board, chip or
# command line are used in the following order of priority
# - default value
# - architecture specific value
# - chip specific value
# - board specific value
# - command line

[2020-07-21 13:19] Roger-Shepherd opened #77 "-gc-sections is called -dead_strip in Apple's linker"
The files support/dummy-libgcc.c, support/dummy-libc.c, support/dummy-libm.c refer to -gc-sections, which is an option to the (gnu?) linker to remove unused code. The Apple linker uses -dead_strip for apparently the same purpose. Perhaps the dummy-lib*.c's should be worded to accommodate this.

The usage of -gc-sections in config/native/* may be OK, depending on what "native" is supposed to do.

[2020-07-21 13:30] Roger-Shepherd commented on #76
Having reread the User Guide in the light of making this comment, I see the guide is perfectly clear on this point. Perhaps the wording from the guid could be used here?

[2020-07-21 13:49] Roger-Shepherd opened #78 "User guide disagrees with build_all.py script"
The user guide says:

--chip: This mandatory argument ...
--board: This mandatory argument...

In build_all.py they are not mandatory and have the default value "default"

[2020-07-21 14:26] kjetilos commented on #72
I think it would be ok to require C99, as many compilers support this.

[2020-07-22 14:56] nidalf opened #79 "Python version selection"
**#!/usr/bin/env python3** at the head of the python script will pick **python3.5** if it does exist in the system.
therefore using the following **#/usr/bin/env python3.6** will make sure to pick the right python version

[2020-07-22 17:36] jeremybennett commented on #79
Hi Nidal,

Thanks for the contribution.

Good point. But what if the user has Python 3.7? I think we have to leave it as python3 and then use the test before executing to check it is at least 3.6.

(BTW - I think there may be a bug in that test to be fixed).

[2020-07-23 07:25] nidalf commented on #79
What i saw is that the python failed even before getting to the test.
when you have python version less than 3.6 the interpreter itself fails because you are using the f-strings, and this has been introduced in python 3.6, therefore you get a syntax error which happens way before the test starts.
maybe it is possible to convert all the f-string to other format which is acceptable by lower versions

[2020-07-23 09:06] jeremybennett commented on #79
Hi Nidal - that's the bug that needs fixing. Should not use f strings. That bit of code should work with any version of Python 3. A patch for that would be welcome.

[2020-07-23 12:44] nidalf commented on #79
I'm closing this issue as it has been fixed and merged

[2020-07-23 12:44] #79 closed

[2020-07-27 09:41] sobuch opened #81 "decoding results in run_native.py"
In run_native.py benchmark runtimes are measured using `time -p` command. Lets say we have different runs with durations 1.5s and 1.05s, we can simply simulate the results and see the difference:
[code]

However, code in function decode_results will produce the same output for both. This seems to be caused by https://github.com/embench/embench-iot/blob/master/pylib/run_native.py#L66 because:
[code

[2020-07-28 10:38] sobuch opened #83 "Only last argument logged after benchmark fails or times out"
Code starting at https://github.com/embench/embench-iot/blob/master/benchmark_speed.py#L204:
[code]
This results in logging only last argument passed to subprocess instead of all of them. I suppose it was intended to be like this (only difference is usage of '+='):
[code]

[2020-07-29 13:43] sobuch commented on #6
Hello,
I am now able to run the benchmarks on SweRVolf (SweRV EH1) on nexys A7 FPGA. I am using OpenOCD to load programs into the memory and then reading the results from UART. Results therefore need to be measured and printed in functions from boardsupport.c. Besides that I created new run module with the three functions (get_target_args, build_benchmark_cmd, decode_results) defined. Only difficu

[2020-08-04 10:26] Roger-Shepherd opened #84 "User guide enhancement suggestion"
I was caught out by the naming convention for Python modules. For a speed benchmark the documentation says:

I naïvely assumed that "specifies" meant the name of the python file (i.e. xyz.py), it doesn't it means the name of the module (i.e. xyzzy). The documentation might make this explicit for those unfamiliar with Python conventions.

[2020-08-04 12:13] jeremybennett commented on #84
Good point. Would you like to submit a patch to make this clear. Thanks, Jeremy

[2020-08-08 16:51] Roger-Shepherd commented on #84
Done as pull request.

[2020-08-09 12:52] jeremybennett commented on #76
The way parameters are put together is a legacy of BEEBS. In practice only a few parameters are set in these files and the significant ones are set on the command line. It would be good to update the documentation, but even better would be to simplify the configuration files - perhaps a flat set of files on a per architecture basisi.

[2020-08-10 15:45] oferShinaar opened #87 "Add to readme - prerequisite python version 3.x"
Lets add to the readme a quote saying that users have to use python version 3.x

[2020-08-14 22:32] nagendragd opened #89 "Getting started issue: Unable to build benchmarks"
I might have a silly error. I cloned the latest repo (from 8/14). Changed nothing by way of provided code and config. Tried building with:

python3 build_all.py  --builddir . --logdir ./log --arch riscv32 --chip generic  --board ri5cyverilator

Looked into the log which reported this:
...
General log
===========
Warning: Compilation of beebsc.c from source directory /home/UNT/ndg0068/embench-iot/s

[2020-08-14 23:45] sobuch commented on #89
You can use `--cflags="-c"`, discussion here may be helpful when starting https://github.com/embench/embench-iot/issues/2.

[2020-08-15 00:06] nagendragd commented on #89
Yes thank you, that was a silly issue. Thanks.

[2020-08-15 00:06] #89 closed

[2020-08-15 16:12] #83 closed

[2020-08-15 16:57] #81 closed

[2020-09-11 11:55] ben-marshall opened #93 "Standard Citation Template"
Hi there

Is it possible to come up with a standardised citation template for Embench? Those of us who reference it in academic publications can create an ad-hoc citation fairly easily, but a consistent one we can copy and paste into our bibliographies would be super helpful.

Currently, my Bibtex entry looks like:
[code]
Is this suitable, and could something like it be pasted on the front page fo

[2020-09-12 15:57] jeremybennett commented on #93
Hi Ben - good question. I'll put it on the agenda for the meeting on 21 September. Will you be able to attend?

[2020-09-14 09:00] ben-marshall commented on #93
Hi Jeremy,
I'll do my best to attend for sure. Where can I find the details?
Also - I think the website link on the top right of the repo homepage might be wrong: https://www.embench.org -> https://embench.org
Cheers,
Ben

[2020-09-14 11:41] jeremybennett commented on #93
Thanks - I have sent you an invite (actually sent you two - I invited you to the wrong meeting first). I'll get the website fixed - thanks for spotting.

[2020-09-18 06:47] fanghuaqi opened #94 "How to reproduce embench for riscv32"
Hi there, I found [slides here talking about riscv embench results](https://riscv.org//wp-content/uploads/2019/12/12.10-12.50a-Code-Size-of-RISC-V-versus-ARM-using-the-Embench%E2%84%A2-0.5-Benchmark-Suite-What-is-the-Cost-of-ISA-Simplicity.pdf).

In this slides, it said riscv code size is near to ARM

![图片](https://user-images.githubusercontent.com/1538922/93564873-036f9180-f9bd-11ea-9169-5aec5af9

[2020-09-18 07:17] sobuch commented on #94
Hi, as far as I understand, you only want to measure size of the programs and not the libraries. So, you should make sure to include argument `--dummy-libs="crt0 libc libgcc libm"` to use dummy libraries instead.
With this, I get pretty close to those numbers at 1.05 geomean. Still not quite there, so I am either also missing something or its due to some changes in the computation of the score. I

[2020-09-18 07:17] sobuch commented on #94
Hi, as far as I understand, you only want to measure size of the programs and not the libraries. So, you should make sure to include argument `--dummy-libs="crt0 libc libgcc libm"` to use dummy libraries instead.
With this, I get pretty close to those numbers at 1.05 geomean. Still not quite there, so I am either also missing something or its due to some changes in the computation of the score. I

[2020-09-18 07:33] fanghuaqi commented on #94
Hi @sobuch , thanks for your explanation, is it the same for arm targets,? with your suggestion, and I tried with command:
[code]

Got the following results:

[code]

Thanks
Huaqi

[2020-09-18 07:47] sobuch commented on #94
I also use `-msave-restore`, these are probably the exact flags you want: https://github.com/embench/embench-iot-results/blob/master/details/ri5cy-rv32imc-gcc-9.2-os.mediawiki#tool-chain-flags-used-in-benchmarking

[2020-09-18 07:50] fanghuaqi commented on #94
Hi @sobuch , thanks.

This is what I get with `-msave-restore`:

[code]

[2020-09-18 07:58] fanghuaqi commented on #94
I also ran for stm32-discovery board, and get the following results:

* **Case 1: dummy libs used instead of system lib**

[code]

* **Case 2 : The system libraries size are included:**

[code]

Thanks
Huaqi

[2020-09-18 08:00] jeremybennett commented on #94
@fanghuaqi

These slides are from December 2019, when Embench was still in development, and we were using GCC 9.2 on PULP RI5CY as the baseline.

We rebased for the 0.5 release in February 2020, to use Arm Cortex-M4 with GCC 9.2 as the baseline. We chose this because it was a more stable industrial standard. You can find the official results in the embench-iot-results repository.

With my colleagu

[2020-09-18 08:06] fanghuaqi commented on #94
Hi @jeremybennett, thank you very much for your information, I might check the maillist and get the updates, so where can I get the meeting link?

Thanks
Huaqi

[2020-09-18 13:43] jeremybennett commented on #94
@fanghuaqi If you email me directly (jeremy.bennett@embecosm.com), I'll send you the Zoom invite - reluctant to post it on an open mailing list.

[2020-09-20 10:24] fanghuaqi commented on #94
@jeremybennett ok, just sent email, thanks

[2020-09-21 23:10] axiomlegend opened #95 "Does Wikisort need to use double precision constants ?"
It seems that this benchmark is measuring floating point more than wiki sorting algorithms.
Using 1.0f, 2.5f, 0.9f in the Testing* routines would be the recommend change.

Thanks.

[2020-09-22 07:39] fanghuaqi commented on #94
closed, since I am able to run this embench now. Thanks @jeremybennett @sobuch

[2020-09-22 07:39] #94 closed

[2020-09-22 13:32] Roger-Shepherd commented on #95
From a quick glance it looks like double v. single precision f.p. would make essentially zero difference in the execution time. There might be an impact on code size but unless (i) the difference was significant, and (ii) the use of double precision could be considered "unreasonable" I'd leave it alone. Rewriting code in benchmarks, particularly, "real-world" benchmarks is a slippery slope.

[2020-09-22 17:02] jeremybennett commented on #95
@axiomlegend One of the principles on which Embench is based is that code should be "real programs" - warts and all.  The only changes we make a i) to ensure they meet strict standard C11, ii) they work correctly on everything from 8- to 64-bit architectures and iii) we ensure they self-check.

Almost all could be written much better, but we didn't want a collection of perfect programs, just what

[2020-09-22 17:43] jeremybennett commented on #94
@fanghuaqi Good to hear you have success.

[2020-10-01 12:41] nagendragd opened #96 "Explanation / Origin of benchmarks"
Hello,

I am looking for an overview / explanation of what the benchmarks do, why were they picked, etc.
Tried looking at the mentioned link: http://beebs.eu/ and it seems to redirect to a bad site.

Info on these benchmarks will be very useful.

thanks
Nagendra

[2020-10-05 19:41] jeremybennett commented on #96
Hi @nagendragd

Sorry about your experience with this. We discovered last week that we had lost the beebs.eu domain - renewal emails had been misdirected.

BEEBS will shortly reappear as beebs.mageec.org, since it was developed as part of the MAGEEC research project funded by the UK government.  In the meantime, you can find the source on GitHub: https://github.com/mageec/beebs.  This gives you tw

[2020-10-05 19:55] nagendragd commented on #96
Ok thanks. Appreciate the direct links.

Best regards
Nagendra

[2020-10-07 03:20] GeorgeOnwubuya opened #97 "Issue Running Embench"
I tried to compile the benchmarks using the following command:

**_python3 build_all.py --arch arm --chip cortex-m4 --board generic_**

I am running into the error below
Warning: Compilation of beebsc.c from source directory /Users/user/embench-iot/support to binary directory /Users/user/embench-iot/bd/support failed
Warning: Compilation of main.c from source directory /Users/user/embench-iot/supp

[2020-10-07 10:20] Roger-Shepherd commented on #97
You need to get more error messages to diagnose this. I don't have a gcc installation on my development machine so can't check this. If you look in buildall.py you'll be able to see which flags give you the messages you need. I think you need -v (verbose)>

[2020-10-07 11:44] jeremybennett commented on #97
@GeorgeOnwubuya There should be a log file created (in the `logs` directory by default I think). If you can post that is should have more information.

[2020-10-07 13:57] GeorgeOnwubuya commented on #97
I have posted the log file below

Log file: /Users/user/embench-iot/logs/build-2020-10-06-221935.log

Supplied arguments
==================
--builddir            : bd
--logdir              : logs
--arch                : arm
--chip                : cortex-m4
--board               : generic
--cc                  : None
--ld                  : None
--cflags              : None
--ldflags             :

[2020-10-07 14:19] jeremybennett commented on #97
@GeorgeOnwubuya OK - I see the issue. For GCC you need the `-c` flag to tell it to build an object file and not link. So you need to add `--cflags=-c` to your command line.

HTH

[2020-10-07 14:30] GeorgeOnwubuya commented on #97
I added the --cflags=-c but I am still running into errors. I have posted the log file below

Log file: /Users/user/embench-iot/logs/build-2020-10-07-092130.log

Supplied arguments
==================
--builddir            : bd
--logdir              : logs
--arch                : arm
--chip                : cortex-m4
--board               : generic
--cc                  : None
--ld

[2020-10-07 14:52] jeremybennett commented on #97
@GeorgeOnwubuya You are now getting link failures, and the errors indicate a problem with your C library setup. Here is the first example of the relevant message
[code]
So you do have a C library - it's finding `exit` in `libc.a`, but it is not finding `_exit`. This would normally be part of the libgloss board support package which is part of the newlib C library. Do you have a file `libgloss.a` i

[2020-10-07 15:21] GeorgeOnwubuya commented on #97
It doesn't look like I have the libgloss.a file but I do have libgloss-linux.a file.
 How do I get this file installed on my end? Is there a package I need to install?

Thanks for all your help.

[2020-10-07 15:51] PaoloS02 commented on #97
Hello @GeorgeOnwubuya ,
one thing that I see at a first glance is that you need to include the math library. You can use the --user-libs option from the build_all.py script. So you need to add --user-libs="-lm" to your command line.
I'll come back to you as soon as I have checked the issue of the _exit symbol.

[2020-10-07 16:27] PaoloS02 commented on #97
Hello @GeorgeOnwubuya ,
as we are in the context of embedded systems we need to specify how to enable the system calls.
With newlib come several sets of systemcalls that are enabled with the --specs options:
[code]
rdimon provides syscalls that rely on semihosting. Nosys instead provides a set of stubs that retarget the system calls.
We usually use nosys.
In this case for instance you need to add

[2020-10-07 16:44] GeorgeOnwubuya commented on #97
Thanks for your speedy reply Paolo.

It looks like I don't have the nosys.specs in my gcc directory. Any thought on how to get this pacakge?

Log file: /Users/user/embench-iot/logs/build-2020-10-07-113903.log

Supplied arguments
==================
--builddir            : bd
--logdir              : logs
--arch                : arm
--chip                : cortex-m4
--board               : generic
--

[2020-10-07 18:35] PaoloS02 commented on #97
Hello @GeorgeOnwubuya ,

could you please post the information of your toolchain?
[code]

Thanks
Paolo

[2020-10-07 18:37] GeorgeOnwubuya commented on #97
Information on toolchain:

Using built-in specs.
COLLECT_GCC=arm-none-eabi-gcc
COLLECT_LTO_WRAPPER=/Users/user/Local/gcc_arm/gcc-arm-none-eabi-4_7-2013q3/bin/../lib/gcc/arm-none-eabi/4.7.4/lto-wrapper
Target: arm-none-eabi
Configured with: /Users/build/GCC-4-7-build/gcc-arm-none-eabi-4_7-2013q3-20130916/src/gcc/configure --target=arm-none-eabi --prefix=/Users/build/GCC-4-7-build/gcc-arm-none-eabi-

[2020-10-07 19:33] PaoloS02 commented on #97
Hi @GeorgeOnwubuya ,

Ok, you could try to look for nosys under your library folders like /Users/lib/arm-none-eabi. I'm not sure where it should be on your system, but it should contain it. Just if you want to make sure you haven't got it there while maybe defaulting to another installed toolchain by mistake.

Anyway if I'm correct that toolchain has been installed as a packet for your system, rig

[2020-10-07 19:44] GeorgeOnwubuya commented on #97
I had to donwload a more up to date version of gcc-arm-none-eabi. I have sucessfully built the benchmarks:

**aha-mont64
crc32
cubic
edn
huffbench
matmult-int
minver
nbody
nettle-aes
nettle-sha256
nsichneu
picojpeg
qrduino
sglib-combined
slre
st
statemate
ud
wikisort
All benchmarks built successfully**

I do have a few more questions.
-> How do I run the benchmarks? I know you can run them with re

[2020-10-08 10:10] PaoloS02 commented on #97
Hello @GeorgeOnwubuya ,
once you built the tests you need to run benchmark_size.py for size results and benchmark_speed.py for speed results.
If you invoke them without arguments you'll see the required options. The size script doesn't need options, but you might want anyway to have a look at them in order to decide at least whether to have absolute results or results relative to the baseline.

Th

[2020-10-08 14:45] GeorgeOnwubuya commented on #97
Thanks @PaoloS02.
I ran the benchmark_size.py and I am running into the error pasted below.

**Traceback (most recent call last):
  File "benchmark_size.py", line 24, in <module>
    from elftools.elf.elffile import ELFFile
ModuleNotFoundError: No module named 'elftools'**

Where do I find the module named 'elftools?

[2020-10-12 12:50] PaoloS02 commented on #97
Hi @GeorgeOnwubuya

you probably need to install pyelftools if you haven't got it already.
Does this work?
[code]

Let me know
Paolo

[2020-10-16 16:58] sheenagoel696 opened #98 "Queries on Embench benchmarks"
Hi,

I want to run embench benchmarks for arm cpu cortex-m55F and i am not sure about board,
could you please let me know what options i need to select?

Should it be arc=arm, chip=cortex-m55f, board=generic?

Any help would be greatly appreciated.

Thankyou.

Regards,
Sheena

[2020-10-18 09:48] jeremybennett commented on #96
BEEBS can now be found at https://beebs.mageec.org/. We need to fix the links. Marked as a bug and assigned to me to fix.

[2020-10-18 09:50] jeremybennett commented on #97
@PaoloS02 I've marked as an enhancement, to allow you to update the documentation in the light of @GeorgeOnwubuya experience.

[2020-10-18 09:55] jeremybennett commented on #98
@sheenagoel696

We don't have experience with running for this processor. You will need to create your own chip and board descriptions, but you can base these on the Cortex M4 and STM Discovery versions. I've assigned to @PaoloS02 who set up the Cortex M4 boards. He may have further advice for you.

[2020-10-19 13:55] sheenagoel696 opened #99 "Queries on Embench benchmarks- Running a simple testcase"
Hi,

Currently we are compiling and running all tests together.
Is it possible to compile and run a single test?

Thankyou.

Regards,
Sheena

[2020-10-21 17:27] jeremybennett commented on #99
Hi Sheena,

Well each test is compiled in turn. You can find the commands used in the log file (you might need to turn on the `--verbose` flag). You can just run these commands standalone to compile a single benchmark.

HTH

[2020-11-13 07:56] jeremybennett commented on #96
Fixed in commit bae259a. Link is now correct.

[2020-11-13 07:56] #96 closed

[2020-11-16 12:15] PaoloS02 commented on #98
@sheenagoel696

Sorry for the slow reply. You probably already solved this problem but I'll answer anyway for future reference or in case someone else finds it useful.
Apologies if I'll be obvious but it is just for clarity. The `board` directory should contain compilation options, linker scripts, startup files or other information that optimize the compilation of Embench in relation to the featur

[2020-11-16 15:11] Roger-Shepherd opened #103 "Bug in build_all.py"
I've just encountered a bug in build_all.py. I hit a timeout in  If you hit a timeout when linking you get the following messages:

Warning: link of benchmark "aha-mont64" timed out
Traceback (most recent call last):
  File "./build_all.py", line 751, in <module>
    sys.exit(main())
  File "./build_all.py", line 737, in main
    res = link_benchmark(bench)
  File "./build_all.py", line 686, in li

[2020-11-17 09:57] pmatos commented on #21
I think @quxianmiao meant `pip freeze`: https://pip.pypa.io/en/stable/reference/pip_freeze/

[2020-11-17 15:10] jeremybennett commented on #103
I thought this had been fixed. Assigned to @PaoloS02 to investigate.

[2020-11-30 14:21] PaoloS02 commented on #103
Hi @Roger-Shepherd, @jeremybennett,
I see that this problem was the same as the one addresses by merge request #15 for the compile_file
It seems that pull request #64 has brought back this issue, also for compilation I think.
The point of pull request #64 is to have debug info even if the compilation/linking has timed out.
We need a compromise to have that, without using undefined/unassigned varia

[2020-12-29 17:07] mistergomes commented on #62
Hi!

I am actually also trying to reproduce the benchmarks scores for the reference platform.
After configuring the **chip.cfg** file and running the build command:

`$./build_all.py  --arch arm --chip cortex-m4 --board stm32f4-discovery`

I got the following output:

**aha-mont64
crc32
Warning: Link of benchmark "cubic" failed
edn
huffbench
matmult-int
minver
Warning: Link of benchmark "nbody" fa

[2021-01-09 07:34] guyue555 opened #106 "Queries on Embench benchmarks- How to config my simulator（target）"
I have compiled a riscv32 simulator with gem5, this simulator is my target。how to run embench to the simulator？I didn't find how to configure it in the user guide。

[2021-01-10 18:43] jeremybennett commented on #103
Resolved by PR #105

[2021-01-10 18:43] #103 closed

[2021-01-10 20:34] jeremybennett commented on #106
@guyue555 I don't think anyone has worked with the Gem simulator. You might like to join our monthly Zoom call on 11 January (tomorrow) at 07:00 Pacific Time to see if anyone attending can help.  Details will be on the agenda which will be circulated on the mailing list shortly (see https://lists.librecores.org/listinfo/embench).

[2021-01-17 19:28] PaoloS02 commented on #62
Hi @mistergomes,
sorry for the slow reply.
I tried to build now the results and it worked just fine.
Could you please share the options that you're using in the chip.cfg file?
Also are you using the binary of the gcc arm downloaded from [here](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads) like in the previous comments? Or a differe

[2021-01-21 13:17] mistergomes commented on #62
Hi @PaoloS02

thanks for your reply.
Yes, the -lm library was missing and the -v produces output to the log file, which I was not looking properly.
Nor everything is working. That was a beginner mistake :)

Best Regards,
Tiago

[2021-02-06 07:18] amylaar opened #109 "rand_beebs has undefined behaviour for targets with 32 bit long"
rand_beebs in support/beebsc.c has a signed overflow.
The constant 1103515245L is type long, which is signed.
After in the crc_32 benchmark, after calling calling srand_beebs (0),
the first call to rand_beebs calculates a new seed value of 12345.
Then in the second call, 12345 is multiplied with 1103515245L,
which overflows on targets with 32 bit long, thus invoking undefined behaviour.

That has

[2021-02-14 17:44] jeremybennett commented on #109
Thanks @amylaar. Assigned to @PaoloS02 to work out fix for the next release.

[2021-02-17 10:45] Roger-Shepherd opened #110 "Misleading output from speed benchmarks"
The speed benchmark can produce both "speed" results (time taken by reference/time taken by current) and "absolute" results (time taken by current). In both cases the output gets labelled as "speed" which is misleading when the "absolute" figure is _time_ which means _1/time_. It would be straightforward to change the output to say "Time" for absolute values _but_ there may be consequences in soft

[2021-02-17 11:04] Roger-Shepherd opened #111 "'--json-comma' and '--no-json-comma' options to benchmark scripts are not documented"
Both benchmark_size.py and benchmark_speed.py will take '--json-comma' and '--no-json-comma'. These affect the formatting of json formatted results. This is not documented.

[2021-02-17 22:59] amylaar commented on #109
If either (or both) of the factors gets its type to unsigned long, the overflow in the multiplication becomes well-defined, and the
product will also have type unsigned long, which also makes any overflow in the sum well-defined.
I.e. you can declare seed as unsigned long.  Or change 1103515245L to 1103515245UL  .  Or both.  It becomes well-defined
either way.
I think some compilers warn when mixi

[2021-03-03 08:57] simonpcook opened #112 "Embench 1.0 documentation refers to itself as 0.5"

[2021-03-05 15:05] PaoloS02 commented on #112
Yes, the document needs updating. We should rephrase the second point of principle 4 in "About Embench".

[2021-03-09 17:29] Roger-Shepherd opened #113 "User Guide is wrong (and `run_native.py`?)"
I wanted to know how benchmark speeds get measured and the Embench score is calculated so I looked at the User Guide, rather than the scripts. I noticed some problems in the **Computing a benchmark value for speed** section.

1. It refers to `start_benchmark` and `stop_benchmark`. **I think these should be `start_trigger` and `stop_trigger`**

Even though `trigger` is suggestive of using an extern

[2021-03-10 05:56] ArchishmanSengupta opened #114 "[Major Need] Proper Documentation of README for CONTRIBUTION"
embench-iot is indeed a great project but it can be better. As an user & i would like to make **CHANGES** in the `README` file or add a `CONTRIBUTING.md` file so that a developer who wants to **CONTRIBUTE** can easily follow the steps of its installation starting from **Forking the repo**.

This is will cover Issue:
1. #111
2. #112
3. #113

Please assign me this and please provide a communication

[2021-03-10 13:43] Roger-Shepherd commented on #113
I'm happy to fix this README and set up then necessary pull request if someone can confirm that my comments and changes are OK.

[2021-03-10 13:45] Roger-Shepherd commented on #111
I'm happy to fix this as suggested as produce the necessary pull request if someone tells me it looks like I'm on the right track.

[2021-03-13 16:33] Roger-Shepherd commented on #113
I previously said

I was certainly confused by what was going on but I now think I understand this.... having seen results that suggest my shiny new Apple M1 Mac Mini is only 10x as fast as the reference ARM M4!

In each Embench benchmark, the number of iterations, which is set at _compile time_, is chosen in an attempt to make each benchmark run for a few seconds (between 2 and 5 on the reference

[2021-03-14 13:23] jeremybennett commented on #114
Hi @ArchishmanSengupta

All contributions are welcome. I would encourage you to join our monthly calls. The next one is at 08:00 Pacific Time on Monday 15 March (tomorrow).  Agenda and videoconference details will be published shortly on the [Embench mailing list](https://lists.librecores.org/listinfo/embench).

[2021-03-14 13:52] ArchishmanSengupta commented on #114
will be joining the call. Thanks

[2021-03-14 18:09] jeremybennett commented on #111
Roger - the JSON output was work in progress. It produces fragments to paste into complete files for embench-iot-results. What it should do is produce the complete file, but that requires

1. Finding a way to incorporate all the data about the platform, compiler, etc.
2. Finding a way co coordinate the output from `benchmark-size.py` and `benchmark-speed.py`.

[2021-03-14 21:18] Roger-Shepherd commented on #111
This make perfect sense now. The job of producing the complete output does require some thought, and perhaps some changes to the way things are done at the moment.

[2021-03-15 17:56] edward-jones opened #116 "malloc_beebs does not ensure correct alignment of allocated objects"
The custom malloc in embench does not ensure that allocated objects are correctly aligned. For architectures where unaligned accesses are not valid this will cause incorrect behaviour in the benchmarks which rely on the heap, on architectures where unaligned accesses are slow this could cause inconsistent benchmark performance.

There is also a secondary problem that the pointer passed to `init_he

[2021-03-19 17:57] Roger-Shepherd opened #117 "How to handle mach-o executables as well as elf executables"
This is here both as a request for some suggestions on how to address this issue, and to explain some of the other issues arsing from my work here (raised separately).

Apple products (Mac, iPhone, iPad, AppleTV) use mach-o format for object files and executables. The `benchmark_size.py` script is written to use Elf. I am looking at how (best) to handle them both.

In addition to the fact the file

[2021-03-19 18:02] Roger-Shepherd opened #118 "Why do we benchmark size using .text and not .text and .rodata?"
See issue #117 for some background

Since the program and read only data have to be loaded into memory before execution can occur it would seem sensible that the size of an executable included .rodata as well as .text. This is a particular issue as there are often choices about how (constant) data is loaded - e.g. instructions with literals v. load from initialised memory.

Apologies if this choic

[2021-03-19 18:18] jeremybennett commented on #118
There are arguments for a number of variants, which were discussed early on. The `benchmark_size.py` script can actually compute any of these, the default is just `.text`.

* You can look at `.text` + `.rodata` because this goes in ROM
* You can look at `.text`  + `.rodata` + `.data` because the initial values for `.data` also need to go into ROM and be copied out by the startup code.
* You can lo

[2021-03-19 18:20] jeremybennett commented on #117
We should use categories of section, not section names in ELF.

Supporting mach-o is good. We also ought to handle the Windows format PE (a derivative of COFF).

[2021-03-19 18:22] Roger-Shepherd opened #119 "bench_speed.py - text, data, rodata, bss and metric parameter handling"
See isse #117 for background

The documentation for the parameters `text`, `data`, `rodata`, `bss` and `metric` all say they take a `space separated list` as in

The implementation uses `action='append'

which requires the parameter name to be mentioned for each parameter rather than accepting a space separated list of arguments. To get the documented effect,  ` nargs='+'` should be used in place

[2021-03-19 18:24] Roger-Shepherd commented on #118
Thanks. I can also see the answer to issue #119 coming from this.......

[2021-03-19 18:24] #118 closed

[2021-03-20 17:00] Roger-Shepherd commented on #119
The functionality as described is implemented in a fix to bench+size.py. Once accepted this will close this issue.

[2021-03-22 10:12] paoloR01 commented on #119
I tested your patch and it works nicely. Maybe the documentation should clarify that all the sections listed with `--text`, `--data` etc... are then included in the respective `--metric` category `text`, `data` etc **if** the category is specified in `--metric` (unless it is the default only: `text`). I can add that to the doc if it sounds reasonable.

[2021-03-22 12:10] Roger-Shepherd commented on #119
I think it would be a good idea to make that change to the documentation.

[2021-03-22 12:42] PaoloS02 commented on #119
I'll push a pull request as soon as I get the chance (btw I hadn't realized I was logged in with my other account paoloR01).

[2021-03-23 13:31] PaoloS02 commented on #111
I'm in the process of adding a note on the `--metric` option to the documentation. I could document `--json-comma` and `--no-json-comma` too, while I'm at it. This if we agreed that we keep such options.

[2021-03-23 15:33] Roger-Shepherd commented on #111
I think we should leave them undocumented, at least until they are fixed. Once they are fixed, and work so the output can be incorporated into the results file as Jeremy describes, they should be documented. I've not looked at how well they so this so don't know whether it is sufficient just to fix them and document.

[2021-03-24 11:18] tariqkurd-repo opened #122 "Linking the GCC and maths libraries needs a differnt order of arguments to GCC then generated by the buld_all.py script"
I'd like to build embench for RISCV with the gcc and maths libraries included.

here's the command line:

./build_all.py --cc /data/toolchains/riscv/riscv32-embecosm-ubuntu1804-gcc10.2.0-r4/bin/riscv32-unknown-elf-gcc --clean --verbose --arch riscv32 --chip size-test-gcc-rv32imc --cflags ' -Os -msave-restore -frecord-gcc-switches' --ldflags ' -Os -msave-restore'

here's the chip.cfg:

cflags = [

[2021-03-24 15:20] jeremybennett commented on #122
There is an option for putting things like -lm. IIRC it's `--user-libs`.  This is precisely because of the problem you have encountered with `--ldflags`.

HTH

[2021-03-25 11:28] tariqkurd-repo commented on #122
Thanks Jeremy, that's the answer

[2021-03-25 11:28] #122 closed

[2021-03-26 19:00] Roger-Shepherd opened #123 "Design rationale for handling of --text (etc) options in benchmark_size.py"
I'm looking at how to modify `benchmark_size.py` to handle macho files as well as elf files. In addition to the processing of the files, works needs to be done on the parsing of the parameters.

In the current implementation the handling and logging is inconsistent between parameters. For example, if the script is run with _no parameters_ given, the log says:

    Supplied arguments
    ==========

[2021-03-27 21:03] Roger-Shepherd commented on #117
This is how I propose to add handling of macho format files to `benchmark_speed.py`. I believe:
1. this minimises changes and hence minimises the chance of breaking something that works at the moment
2. is simple to expand to a further file format

## Existing mechanisms

### Categories of section

The current script is concerned with 4 categories of sections and, by default, associates each categ

[2021-03-28 13:50] Roger-Shepherd opened #124 "Copyright notices"
What's supposed to happen to copyright notices when changes are made?

[2021-03-29 07:46] jeremybennett commented on #124
Add yourself to the list of contributors at the head of each file. You become one of the owners of the copyright.  The license for others to use the code (GPL3) remains unchanged.

HTH

[2021-03-29 15:08] #124 closed

[2021-03-29 15:17] Roger-Shepherd opened #125 "Use of lief to handle macho"
I'm intending using the [lief-project](https://github.com/lief-project/LIEF) to help with handling of macho files in benchmark_speed.py.

1. It is released under Apache 2.0. Is this a problem.
2. I'd also use it to handle elf. The lief provides the same API for elf, lief (and pe). The only difference in the handling of elf and macho is that for elf the test for a section being wanted is  `section.

[2021-04-02 15:25] Roger-Shepherd commented on #78
9 months on and not a single comment on this!

It's easy to fix this either way.

I suspect that changing the script may break some people's builds. Any build relying on the current behaviour of the script will generate an error.

I propose changing the documentation to match the script.

[2021-04-04 09:30] Roger-Shepherd opened #126 "Dummy library uses "unsigned int" rather than "size_t""
Trying to build the benchmarks for size on a Mac and thus using dummy-libc.c the compiler complains about (e.g.)

    int
    memcmp (const void *s1 __attribute__ ((unused)),
        const void *s2 __attribute__ ((unused)),
        unsigned int n __attribute__ ((unused)))
        {
            return 0;
        }
with the message

    /Users/Roger/Programming/embench-iot/support/dummy-libc.c:44:1:

[2021-04-04 09:41] Roger-Shepherd commented on #125
Now that I have implemented the handling of macho _and_ elf using lief I can report that the logic for both macho and dwarf is identical, and the only place where a check is made on the format is to check that the magic number at the start of the file matches that expected.

[2021-04-04 09:49] Roger-Shepherd commented on #126
I've made this suggested change and it works for ARM M1 and X86 compilation on Mac OS. It needs testing on other systems.

[2021-04-05 17:03] Roger-Shepherd opened #128 "Problems with documentation makefile/scripts"
Preparing to update the `doc/README.doc` to reflect the added support for macho I have some problems with the scripts/Makefiles in `doc`.

1. Regarding spelling checking, the command line for `hunspell` is `hunspell -p custom.wordlist -l -d en_US`. I think the standard dictionary is `en-US`. With that fix
2. The spelling checker throws out a lot of words. Should I add these to the `custom.wordlist

[2021-04-06 17:30] Roger-Shepherd commented on #128
The problem with `make toc` is that `genetic.sh` assume gnu sed and uses some gnu specific extensions.

1. `\?` which can be replaced by `\{0,1\}
2. `0,/regexp/` which can be replaced by `0,/regexp/` _unless_  `regexp` matches the very first line of input.

My inclination is to use the (e.g. Apple) sed compatible replacements rather than require gnu sed.

[2021-04-07 16:14] Roger-Shepherd opened #129 "doc/README.md doesn't generate html header defining the character set"
I've just spent some time trying to track down why when executed in `doc`, `make html` produced a file which when rendered by Safari on my Mac didn't render the TM symbol correctly. Long story short, I had the default character encoding set to something other than utf-8. In resolving my problem I saw that WC3 [recommends](https://www.w3.org/International/questions/qa-html-encoding-declarations) th

[2021-04-09 08:52] PaoloS02 commented on #126
Solved with PR #132

[2021-04-09 08:52] #126 closed

[2021-04-09 08:53] PaoloS02 commented on #128
Solved with PR #132

[2021-04-09 08:53] #128 closed

[2021-04-09 08:55] #125 closed

[2021-04-09 08:56] PaoloS02 commented on #117
I guess this has been solved by PR #132 @Roger-Shepherd ?

[2021-04-09 08:58] Roger-Shepherd commented on #117
As far as I am concerned this is solved by PR#132. @jeremybennett might want to consider whether he's happy regarding his comments.

[2021-04-09 08:59] #119 closed

[2021-04-09 09:04] Roger-Shepherd commented on #123
Dealt with by #132

[2021-04-09 09:04] #123 closed

[2021-04-09 09:05] #113 closed

[2021-04-15 15:18] PaoloS02 commented on #117
@jeremybennett 's point is that the next step will be to use the type of section instead of the section name, for both elf and macho, and of course other formats too. This could be done by checking for each section whether it is readonly, writable, allocatable etc... through specific flags. I guess that macho has its way to do that?
Anyway this is for another task. We can close this issue for now

[2021-04-15 15:52] Roger-Shepherd commented on #117
Agreed

[2021-04-15 15:52] #117 closed

[2021-04-19 00:21] PaoloS02 opened #134 "Handle sections by category, not by name"
As suggested in issue #117 in order to avoid ambiguity when selecting the sections for the size benchmark, we should select them by category rather then by name.
Categories selected through options `--text`, `--data`, `--rodata` and `--bss` should be grouped by looking at the attributes of the sections, like for elf the flags: `SHF_WRITE`, `SHF_ALLOC`, `SHF_EXECINSTR`.
The same should apply to the

[2021-04-19 06:55] Roger-Shepherd commented on #134
This requires input from someone with either macho expertise or some time. I've found it difficult to locate up-to-date macho documentation. Even the lief sources don't appear to be completely up-to-date.....

[2021-04-19 07:18] Roger-Shepherd opened #135 "Proposal: Mechanism for *per-benchmark* iteration control and to clarify the purpose of cpu-mhz"
NB This does not to change the definition of a EMBENCH score.

At present the benchmarking system uses an option `cpu_mhz` for two (related) purposes:
1. to define the frequency of the benchmarked CPU
2. to multiply the baseline number of iterations performed by _all_ benchmarks so that the execution time of those benchmarks is long enough that execution time measurements are large (seconds) compa

[2021-06-24 01:35] LaurelinTheGold opened #137 "Understanding Benchmark Speed score"
I am a little confused, but this is my understanding of the speed benchmark from the readme, results, and looking at past issues.

1. Each benchmark is linearly scaled to the processor clock. If the crc32 takes n cycles for a board at 1 MHz, it will take 2n cycles to run for a board at 2MHz.
2. The real time taken by a benchmark is determined by the cycle count divided by the clock speed. The goal

[2021-06-25 20:01] Roger-Shepherd commented on #137
Well LaurelinTheGold, you've raised a can of worms here. I thought the situation was unclear but explicable. However, it looks like we ended up with a discrepancy between theory (documentation) and practice. Anyhow, this is what I think is going on, I may be wrong. But whether I'm right or wrong, your point that we have a documentation problem remains valid.

When got Embench working on Apple Mac

[2021-06-25 22:03] LaurelinTheGold commented on #137
Hi Roger, most of what you are saying makes sense but I will disagree on point 5 that normalized time ratios yields the same results as unnormalized time ratios.

If the chip has a clock of C and the baseline benchmark takes N cycles, then the scaled cycles is CN and the time taken to run is CN/C=N. The normalized time to run would be N/C (C being unitless). If we set the baseline normalized time

[2021-06-26 14:22] Roger-Shepherd commented on #137
LaurelinTheGold,

You are right.

Quickly thinking about my responses to 6, 7, and 8.

6. We are in agreement about 6 and I think we are correct.

7. I need to work through

8. The problem is the baseline (reference platform) is 16 MHz.

You being right about 5 means I don't understand how the reporting is working! Line 549 of  `embench-iot/doc/README.md` says "These computations are carried out b

[2021-07-06 00:12] 3rror commented on #116
I think I managed to fix this issue, but someone should review the code e maybe test it on other architectures.

[2021-07-19 14:00] yanz08 opened #139 "Issue Building Embench --collect2: error: ld returned 1 exit status"
When I compiled the benchmarks using the following command:

**python3 ./build_all.py --arch riscv32 --chip generic --board ri5cyverilator –cc riscv32-unknown-elf-gcc**

I got the error blow:
pport to binary directory /home/embench-iot/bd/support failed
Warning: Compilation of main.c from source directory /home/embench-iot/support to binary directory /home/embench-iot/bd/support failed
Warning: Co

[2021-07-21 19:51] Abraham-Castaneda commented on #139
I'm having a very similar issue, only difference is that I am using riscv64-unknown-elf-gcc and am using a different set of compiler flags (other than that our supplied arguments are the same). I hope someone sheds some light on this!

[2021-07-21 21:37] yanz08 commented on #139
When I use
python3 ./build_all.py --arch riscv32 --chip generic --board ri5cyverilator --cc riscv32-unknown-elf-gcc **--cflags=-c**

I got:
aha-mont64
crc32
Warning: Link of benchmark "cubic" failed
edn
huffbench
matmult-int
minver
Warning: Link of benchmark "nbody" failed
nettle-aes
nettle-sha256
nsichneu
picojpeg
qrduino
sglib-combined
slre
Warning: Link of benchmark "st" failed
statemate
ud
War

[2021-07-22 10:38] sobuch commented on #139
Hi, I think the answer is already in the thread you linked here previously - you need to also add `--user-libs="-lm"` to compile with libm which contains e.g. the function sqrt. Alternatively, you can use the dummy libraries (that would be something like `--dummy-libs="crt0 libc libgcc libm"`), but in this case only benchmarking code size would make sense.

[2021-07-23 00:38] Abraham-Castaneda opened #140 "Board declaration necessary?"
In the user's guide, under "configuring the benchmarks", it describes how the benchmarks can be configured by declaring an architecture. However, when I try to use --arch riscv32 with ./build_all.py, it simply won't run without me declaring the board, of which I can only choose one, ri5cyverilator. The processor I am trying to test does not have a board or chip assigned to it yet, so I am at a los

[2021-07-23 19:59] Abraham-Castaneda commented on #139
Like sobuch said, libs="-lm" should fix the issue, it did it for me.

[2021-07-26 07:42] yanz08 commented on #139
Yes, thanks you sobuch and Abraham.

[2021-07-26 07:42] #139 closed

[2021-07-26 18:01] Abraham-Castaneda opened #141 "Unable to run Benchmarks"
I have compiled all of the Benchmark source files, but when I try to run the size and speed tests, I come across some issues. When running ./benchmark_size.py, I get the following:

**Traceback (most recent call last):
  File "./benchmark_size.py", line 26, in <module>
    import lief
ModuleNotFoundError: No module named 'lief'**

When running ./benchmark_speed.py, I get:

**benchmark_speed.py: er

[2021-07-26 19:25] sobuch commented on #141
Hi, I havent used embench in a while and this lief import is more recent change but I would expect you just need to run something like `pip install lief`.

For benchmarking speed, you want to take a look at the scripts in https://github.com/embench/embench-iot/tree/master/pylib. For example, to run the benchmarks on your native machine, I believe the required option is `--target-module="native"`,

[2021-07-26 21:45] Abraham-Castaneda commented on #141
Thanks, installing lief with pip seemed to fix the size testing. For speed however, when I set it to use the module "run-native", I get the following results:

**Benchmark           Speed
---------           -----
aha-mont64
crc32
cubic
edn
huffbench
matmult-int
minver
nbody
nettle-aes
nettle-sha256
nsichneu
picojpeg
qrduino
sglib-combined
slre
st
statemate
ud
wikisort
ERROR: Failed to compute spe

[2021-07-26 22:32] sobuch commented on #141
the problem there is that to run on your native machine you also need to compile the benchmarks for that architecture (probably x86 and not rv32). Running natively is the easier bit and should work right away, running on some other target may be more complicated. Possibly https://github.com/embench/embench-iot/blob/master/pylib/run_gdbserver_sim.py could help you here, but I havent used that yet.

[2021-07-27 01:31] Abraham-Castaneda commented on #141
I gave run_gdbserver_sim a shot and the times are still coming up empty unfortunately. Taking a peek at the logs shows this:

**Warning: Failed to find return code
Args to subprocess:
gdb -ex 'set confirm off' -ex 'set style enabled off' -ex 'set height 0' -ex 'file aha-mont64' -ex 'target remote | gdbserver -c ri5cy --stdin' -ex 'stepi' -e
x 'stepi' -ex 'load' -ex 'break start_trigger' -ex 'break

[2021-08-15 14:52] jeremybennett commented on #140
@Abraham-Castaneda Sorry for the slow reply. If you have a new processor and board, you will have to create new declarations for the board and the processor. Take a similar processor as an example and use it as a template. There is some guidance in the `doc` directory.

If you want to then execute your tests, you will need to create a Python module in order to get the tests to run on your platform

[2021-09-03 23:40] rawan305 commented on #141
Hi,

I'm having the same issue while trying to run the speed benchmark.
Did you find a solution? could you run the speed benchmark successfully?

[2021-09-21 18:39] bzbplumb opened #143 "Reproduced baseline program size is larger than expected"
I am trying to reproduce the baseline code size values. Would it be possible to get more details on how to build the code size baseline?

I am getting values larger than the baseline - see below - using the gcc compiler version 9 and 10. I have included the build and size log file.

Taking the aha-mont64 module as an example. The module code size is small ~888bytes but the total size is bigger tha

[2021-09-22 11:49] jeremybennett commented on #143
Hi @bzbplumb The results should be identical for identical set ups. The precise versions of compilers etc matter for this, and are specified in the the [iot-results repository](https://github.com/embench/embench-iot-results) details for each target. For example for the [Arm Cortex M4 when configured for speed](https://github.com/embench/embench-iot-results/blob/master/details/cortexm4-armv7m-gcc-9

[2021-09-30 18:50] bzbplumb commented on #143
Hi Jeremy,

Thanks. I have included the version output of the 9 & 10 gcc compilers.

[GNU Tools for Arm Embedded Processors 9-2019-q4-major.txt](https://github.com/embench/embench-iot/files/7261769/GNU.Tools.for.Arm.Embedded.Processors.9-2019-q4-major.txt)
[GNU Arm Embedded Toolchain 10.3-2021.07.txt](https://github.com/embench/embench-iot/files/7261770/GNU.Arm.Embedded.Toolchain.10.3-2021.07.txt)

[2021-10-10 15:21] bzbplumb commented on #143
Hi Jeremy and Paolo,

I found the cause of my woes - it was all user error.  The replicated baselines values I am getting are close to the actual values. Geometric Mean=0.95 for both version 9 & 10 of the ARM gcc compiler

Command line: ./build_all.py --builddir build --logdir logs --clean --verbose --arch=arm --chip=cortex-m4 --board=generic --cc=arm-none-eabi-gcc --cflags="-c -mcpu=cortex-m4 -mt

[2021-10-10 15:21] #143 closed

[2021-10-18 12:03] Roger-Shepherd opened #149 "MD5 speed test not working on Mac"
Timing reporting mechanism fails to report timing. The log file looks like

Warning: Failed to find timing
Args to subprocess:
sh '-c' './md5sum; echo RET=$?'
cbecbdb0fdd5cec1e242493b6008cc79
... 147899 lines more of the same
cbecbdb0fdd5cec1e242493b6008cc79
Real time: 693.355000 ms CPU time: 693.312000 ms
RET=1

Under investigation; failure happens for x86 Mac and M1 running ARM or x86 code

[2021-10-18 13:59] Roger-Shepherd commented on #149
The problem is that the benchmark is writing to std out in `benchmark_body`. The Mac scripts assumes the only info on standard out is timing info. I think the print statements should be removed, or at least put under a debugging option.

[2021-11-02 13:21] HomeHongZhang commented on #106
hi @guyue555 , how did you solve your problem eventually?

[2021-11-14 12:56] jeremybennett commented on #149
I think the fix proposed by  [#152](https://github.com/embench/embench-iot/pull/152) addresses the use of external library functions.

[2021-11-14 13:45] hirooih commented on #149
This is what Roger and I wrote.

I still recommend you to replace `re.S` with `re.M` in `pylib/run_*.py`.

https://docs.python.org/3/library/re.html#re.S
https://docs.python.org/3/library/re.html#re.M

[2021-12-05 01:50] Abraham-Castaneda commented on #141
Hi rawan305,

Unfortunately I have not been able to run it as of yet.

[2021-12-05 14:04] hirooih commented on #137
@LaurelinTheGold, and @Roger-Shepherd,

I also confused by the description in "Computing a benchmark value for speed" section.
Your discussion above helps me to understand it.

Here is my summary.

***

- baseline: score of Cortex M4

### size

- absolute score
  - size of text segments [byte]
  - smaller is better
- relative score
  - rel_data[bench] = raw_totals[bench] / baseline[bench]
  - smal

[2022-01-07 14:28] TilakGirijeswar opened #154 "Adding const function attribute to sqrt function in math.h will reduce the execution time for 'nbody' benchmark significantly"
I came across a problem while running Embench for core performance with XC32 4.00 and ARM GNU GCC 10.3.

Environment to replicate the issue:
1. MPLAB X IDE [https://www.microchip.com/en-us/tools-resources/develop/mplab-x-ide#tabs](url)
2. ARM GNU GCC v10.3.1 [https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads](url)
3. SAML21 Xplained PR

[2022-02-18 09:46] fanghuaqi opened #156 "json-comma and no-json-comma option cause error"
Hi there,

When I tried to print json output of size information, and found this strange logic here https://github.com/embench/embench-iot/blob/master/benchmark_size.py#L158-L168

This will cause the following error when I run `./benchmark_size.py --json-output`:

[code]

And I debug into it, found this `json_comma` is false, and but according to the code, it should be true.
So I changed `dest='js

[2022-02-18 09:56] fanghuaqi commented on #156
Found this error below is caused by https://github.com/embench/embench-iot/blob/master/pylib/embench_core.py#L266, can be fixed by
[code]

[code]

[2022-03-03 07:40] richunorman-1 opened #157 "Failed to compute speed benchmarks for riscv"
I have run ./build_all.py
[code]
and build the embench without warning or error.
[build-2022-03-03-111703.log](https://github.com/embench/embench-iot/files/8175826/build-2022-03-03-111703.log)
and run the benchmark-speed using the following arguments
[code]
But failed to compute the benchmark.Here is the log file.
[speed-2022-03-03-111841.log](https://github.com/embench/embench-iot/files/8175833/s

[2022-03-07 08:52] richunorman-1 opened #158 "Unable to run benchmark-speed"
I have used the following configuration to run ./build.py
[code]
and build sucessfully
[build-2022-03-07-141006.log](https://github.com/embench/embench-iot/files/8196151/build-2022-03-07-141006.log)
Then I tried to find benchmark speed using the following.
[code]
But I was not able to get the desired output.
[code]
This is the obtained log.
[code]
[speed-2022-03-07-141200.log](https://github.com/e

[2022-03-07 08:53] #157 closed

[2022-03-16 07:07] indumathiraju commented on #78
Is Embench working on --arch Riscv64

[2022-03-16 07:11] indumathiraju commented on #2
Hi,
Am not able to run the embench on Riscv64, Is it possible to run on Riscv64, Could you help me to come out of this issue

[2022-03-16 08:30] jeremybennett commented on #78
@Roger-Shepherd Just realized I haven't paid attention to this. Please do update the documentation!

@indumathiraju I'm not aware of any work on 64-bit RISC-V.  Embench IoT is aimed at small microcontrollers, but there is no reason why it cannot be made to work on 64-bit cores.

[2022-03-16 08:31] jeremybennett commented on #2
@indumathiraju I see you also asked this on [#78](https://github.com/embench/embench-iot/issues/78). I've answered there.

[2022-03-25 06:57] mollybuild opened #159 "Does Embench support RISCV64 ISA"
Embench supports RISCV-32 ISA. But how about RISCV64? Does it support it now? Thanks.

[2022-04-24 17:11] jeremybennett commented on #159
@mollybuild 64-bit RISC-V is not currently supported, but we would welcome a pull-request to add support.

It's worth noting that Embench IoT is aimed at small embedded microcontrollers.  These are typically 32-bit or smaller, so 64-bit RISC-V would be untypical. But support would still be welcome.

I'm marking as closed, but please reopen if you would like to discuss further.  Alternatively atten

[2022-04-24 17:11] #159 closed

[2022-05-06 10:01] hirooih commented on #158
This means you have to install `riscv32-gdbserver`.

I tried to build `riscv32-gdbserver`, but it failed.
I open [an issue](https://github.com/embecosm/riscv-gdbserver/issues/8). I hope someone will give us a clue.

[2022-05-12 15:22] MarkHillHuawei opened #160 "In nbody some toolchains hoisting bodies_energy out of main loop"
This issue is related to "Compiler optimization deletes the bodies_energy function call in the nbody benchmark."

https://github.com/embench/embench-iot/issues/16

Issue 16 was resolved and prevented the compiler eliminating the bodies_energy function from the main workload loop. However the fix does not prevent toolchains hoisting the function out of the loop and executing it only once instead of

[2022-05-15 20:53] jeremybennett commented on #160
@MarkHillHuawei Thanks for this. We are revising the list of benchmarks for Embench 2.0. Options are to fix nbody as you suggest, or to drop it altogether. Do you think this is a good benchmark to keep (when fixed) in the suite?

[2022-05-16 10:08] MarkHillHuawei commented on #160
I think my preference would be to drop this one, I'm sure we can find fp benchmarks that feel a bit more relevant. More generally I think it would be better to separate out the floating point benchmarks from the integer ones and perhaps report 2 to 3 scores, an int only, combined and may be fp only. This is because many embedded cores have no FPU so performance is strongly influenced by the qualit

[2022-05-16 11:13] MarkHillHuawei opened #161 "In the st benchmark some toolchains hoisting/removing the computation from the benchmarking loop"
Some of the result variables in embench-iot/st are auto-declared (MeanA, MeanB, VarA, VarB,StddevA, StddevB) and at risk of the computation being removed via DCA/loop hoisting. For example, the inner loop include 3 fp divides per iteration but when armclang/6.14.1 compiles at O3 only one fp divide  is performed in the whole benchmark run.

Re-declaring these as globals  and calling the main loop b

[2022-05-16 14:09] Roger-Shepherd commented on #149
The change to pylon/run_*.y suggested does allow the benchmark to run.

We still need to remove the print statements though.

[2022-05-16 14:33] Roger-Shepherd commented on #161
I understand why Re-declaring these as globals and calling the main loop body by function pointer might prevent the over optimisation, but what other effects do the changes have? I'd expect performance to go down and code size to go up. Have you measured this?

[2022-05-16 15:01] Roger-Shepherd commented on #161
Sorry, wasn't clear, I meant - apart from the removal of the "over optimisation" what was the input.

[2022-06-21 14:01] PaoloS02 opened #163 "crc32 size increases is we specify a frequency with --cpu-mhz different from 1 MHz"
I'm noting this down here because I discovered it by mistake and it might get lost otherwise.
I built the benchmarks with the standard command used for the baseline:

`./build_all.py --arch arm --chip cortex-m4 --board stm32f4-discovery --cc /home/paolo/EMBENCH/clean-embench/install/arm/gnu/9.2.0/bin/arm-none-eabi-gcc --cflags='-c -Os -ffunction-sections -march=armv7-m -mcpu=cortex-m4 -mfloat-abi=

[2022-09-13 22:20] axiomlegend opened #171 "nsichneu use of volatile keyword"
Hello all;
These variables, marked volatile, inhibit compiler optimization of the code. Comments mention that the variables are so marked to prevent the compiler from simplifying the computation (true).

There is a better way to ensure the computation is performed, with some optimization. Instead of using volatile,  initialize the P1/P2/P3 is_marked variables from  an array at the beginning of the

[2022-09-14 08:47] jeremybennett commented on #171
Hi @axiomlegend Thanks for the suggestion

One of the things we try to do with Embench is to leave the programs as we find them as far as is possible. The only changes we make are to ensure they work on a range of architectures from 8-bit to 64-bit and occasionally to fix bugs that mean they won't work. TBH the biggest change is usually fixing assumptions about the size of value that can fit in an

[2022-09-19 09:19] jeremybennett commented on #171
Marking as closed.

[2022-09-19 09:19] #171 closed

[2022-10-04 15:56] irichter opened #172 "nettle-sha256 does not work with CFI that enforces types"
When compiling nettle-sha256 with `clang` using the [`-fsanitize=cfi-icall`](https://clang.llvm.org/docs/ControlFlowIntegrity.html#indirect-function-call-checking) flag, there is a type mismatch between the type of the first function argument in `nettle_hash_init_func`, `nettle_hash_update_func`, and `nettle_hash_digest_func` (`void*`) and the first argument in the functions that implement these p

[2022-10-15 15:28] jeremybennett commented on #172
Hi @irichter

Thanks for raising this issue.

One of the design principles behind Embench is that the constituent benchmarks should be "real" programs. We want to avoid a uniform set of benchmarks that are in some sense perfect.

We have to do some modification - for example to ensure that benchmarks work correctly on 16-bit platforms when compiled with standard C11. But we do not require perfecti

[2022-11-21 14:26] jeremybennett commented on #172
Marking as closed since there are no further comments.

[2022-11-21 14:26] #172 closed